@import url(parametros.css);
@import url(main.css);
@import url(footer.css);

/* ----------------------------------------------------------- Inicio Header ---------------------------------------------------- */

@font-face {
    src: url("../Fuentes/NexaRustSans-Black.otf");
    font-family: cuerpo;
}

:root {
    --border: #745d79;
    --background-top: #e7c2ca;
    --background-top-bot: #b393ab;
    --background: #f9dbbd;
}

a {
    display: grid;
    position: relative;
    color: black;
    height: 100%;
    width: 100%;
    text-decoration: none;
}


/* Header */


/* Container */

.head_container {
    /* indicar grid */
    display: grid;
    /* color */
    background-color: var(--background-top);
    /* tamaño de los lados */
    padding-left: 6%;
    padding-right: 6%;
}

.head_top {
    /* indicar grid */
    display: grid;
    /* declarar columnas y filas */
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 120px;
    /* ubicacion de contenido*/
    place-items: center;
    place-content: center;
}

.head_top div :hover {
    /* tamaño de aumento */
    scale: 1.05;
    /* delay de la transicion */
    transition: .7s ease all;
}

.social-links {
    /* indicar grid */
    display: grid;
    /* declarar columnas */
    grid-template-columns: 40% 0% auto;
    /* altura y ancho ocupado */
    width: 100%;
    height: 100%;
    /* ubicacion de contenido*/
    place-items: center;
}

.social-links a {
    /* indicar grid */
    display: grid;
    /* color de fondo */
    background-color: rgba(255, 255, 255, 0.2);
    /* color */
    color: black;
    /* altura y ancho ocupado */
    height: 30px;
    width: 30px;
    /* radio de borde */
    border-radius: 50%;
    /* ubicacion de los items*/
    place-items: center;
}

.logo img {
    /* altura y ancho total divido por 4*/
    width: 259.5px;
    height: 105px;
}

.shopwheel img {
    /* altura y ancho total divido por -30- */
    width: 36px;
    height: 30.2px;
    /* filter: invert(28%) sepia(56%) saturate(1350%) hue-rotate(299deg) brightness(90%) contrast(87%); */
    filter: invert(28%) sepia(56%) saturate(1350%) hue-rotate(299deg) brightness(0%) contrast(87%);
}

.head_bot {
    /* indicar grid */
    display: grid;
    /* declarar los bordes y color */
    border-top: 2px solid var(--border);
    border-bottom: 2px solid var(--border);
    /* color */
    background-color: var(--background-top-bot);
    /* declarar columnas y filas  */
    grid-template-columns: repeat(5, 14.28%);
    grid-template-rows: 65.5px;
    /* ubicacion de contenido*/
    place-items: center;
    place-content: center;
}

.head_bot button {
    color: black;
    /* indicar grid */
    display: grid;
    /* posicion */
    position: relative;
    /* indicar ausencia de bordes */
    border: none;
    /* color */
    background-color: var(--background-top-bot);
    /* fuente */
    font-family: cuerpo;
    /* tamaño de fuente */
    font-size: 13.8px;
    /* ubicacion del contenido */
    justify-content: center;
    align-items: center;
    /* altura ocupada */
    height: 100%;
    width: 100%;
    /* delay de transicion */
    transition: .7s ease all;
}

.head_bot :hover {
    /* tamaño de aumento */
    font-size: 100%;
    /* color de fuente */
    color: white;
    /* color */
    background-color: var(--border);
}