@font-face {
    src: url("NexaRustSans-Black.otf");
    font-family: cuerpo;
}

:root {
    --border: #745d79;
    --background-container: #e7c2ca;
    --background-button: #b393ab;
    --background: #e7c2ca;
}

* {
    margin: 0;
    padding: 0;
}