@import url(sesion.css);
@keyframes boton {
    25% {
        transform: translate(4%);
    }
    50% {
        transform: translate(-4%);
    }
    75% {
        transform: translate(4%);
    }
    90% {
        transform: translate(-4%);
    }
    100% {
        transform: translate(0);
    }
}