@font-face {
    src: url("NexaRustSans-Black.otf");
    font-family: cuerpo;
}

:root{
    --border: #450a20;
    --background-container: #ffa5ac;
    --background-button: #a53861;
    --background: #f9dbbd;
}
*{
    margin: 0;
    padding: 0;
}
a{
    display: grid;
}