body {
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}

.grid-container_footer {
    height: 250px;
    display: grid;
    grid-template-columns: auto 350px auto 320px auto;
    background-color: #745d79;
}

.listas-foter {}