body {
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}

.grid-container_footer {
    height: 250px;
    display: grid;
    grid-template-columns: auto 350px auto 320px auto;
    background-color: #745d79;
}

.listas-foter {
    list-style: none;
}

.grid-container_footer h4 {
    padding-top: 20px;
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.grid-container_footer h4::before {}