* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1170px;
    background-color: #FFE5D9;
    margin: auto;
}

ul {
    list-style: none;
}

.row {
    display: flex;
    flex-wrap: none;
}

.footer {
    background-color: #9D8189;
    padding: 70px 0;
}

footer-col {
    width: 25%;
    padding: 0 15px;
}