/* ----------------------------------------------------------- Inicio Footer ---------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Oswald:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
}


/* Footer */

body {
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}

.grid-container_footer {
    padding-top: 20px;
    position: relative;
    width: 100%;
    height: 200px;
    display: grid;
    grid-template-columns: auto 350px auto 200px auto;
    background-color: #745d79;
    margin-top: 0%;
}

ul {
    list-style: none;
}

.grid-container_footer h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.grid-container_footer h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #FFE5D9;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.grid-container_footer ul li:not(:last-child) {
    margin-bottom: 10px;
}

.grid-container_footer ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.grid-container_footer ul li a:hover {
    color: #ffffff;
    padding-left: 10px;
}

.Logo_Empresa img {
    width: 245px;
    height: 105px;
}

.Logo_Empresa {
    display: grid;
    place-content: center;
}

.Contactos ul li {
    color: #bbbbbb;
}

.grid-container_footer .Informacion a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.grid-container_footer .Informacion a:hover {
    color: #24262b;
    background-color: #ffffff;
}

.Logo_TACC img {
    width: 128.33333333333333333333333333333px;
    height: 147px;
}

.Logo_TACC {
    display: grid;
    place-content: center;
}

ul {
    padding: 0;
}


/* ----------------------------------------------------------- Inicio Header ---------------------------------------------------- */

@font-face {
    src: url("NexaRustSans-Black.otf");
    font-family: cuerpo;
}

:root {
    --border: #450a20;
    --background-top: #ffa5ac;
    --background-top-bot: #a53861;
    --background: #f9dbbd;
}

a {
    display: grid;
    position: relative;
    color: black;
    height: 100%;
    width: 100%;
    text-decoration: none;
}


/* Header */


/* Container */

.head_container {
    /* indicar grid */
    display: grid;
    /* color */
    background-color: var(--background-top);
    /* tamaño de los lados */
    padding-left: 6%;
    padding-right: 6%;
}

.head_top {
    /* indicar grid */
    display: grid;
    /* declarar columnas y filas */
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 120px;
    /* ubicacion de contenido*/
    place-items: center;
    place-content: center;
}

.head_top div :hover {
    /* tamaño de aumento */
    scale: 1.05;
    /* delay de la transicion */
    transition: .7s ease all;
}

.social-links {
    /* indicar grid */
    display: grid;
    /* declarar columnas */
    grid-template-columns: 40% 0% auto;
    /* altura y ancho ocupado */
    width: 100%;
    height: 100%;
    /* ubicacion de contenido*/
    place-items: center;
}

.social-links a {
    /* indicar grid */
    display: grid;
    /* color de fondo */
    background-color: rgba(255, 255, 255, 0.2);
    /* color */
    color: black;
    /* altura y ancho ocupado */
    height: 30px;
    width: 30px;
    /* radio de borde */
    border-radius: 50%;
    /* ubicacion de los items*/
    place-items: center;
}

.logo img {
    /* altura y ancho total divido por 4*/
    width: 259.5px;
    height: 105px;
}

.shopwheel img {
    /* altura y ancho total divido por -30- */
    width: 36px;
    height: 30.2px;
    /* filter: invert(28%) sepia(56%) saturate(1350%) hue-rotate(299deg) brightness(90%) contrast(87%); */
    filter: invert(28%) sepia(56%) saturate(1350%) hue-rotate(299deg) brightness(0%) contrast(87%);
}

.head_bot {
    /* indicar grid */
    display: grid;
    /* declarar los bordes y color */
    border-top: 2px solid var(--border);
    border-bottom: 2px solid var(--border);
    /* color */
    background-color: var(--background-top-bot);
    /* declarar columnas y filas  */
    grid-template-columns: repeat(5, 14.28%);
    grid-template-rows: 65.5px;
    /* ubicacion de contenido*/
    place-items: center;
    place-content: center;
}

.head_bot button {
    /* indicar grid */
    display: grid;
    /* posicion */
    position: relative;
    /* indicar ausencia de bordes */
    border: none;
    /* color */
    background-color: var(--background-top-bot);
    /* fuente */
    font-family: cuerpo;
    /* tamaño de fuente */
    font-size: 13.8px;
    /* ubicacion del contenido */
    justify-content: center;
    align-items: center;
    /* altura ocupada */
    height: 100%;
    width: 100%;
    /* delay de transicion */
    transition: .7s ease all;
}

.head_bot :hover {
    /* tamaño de aumento */
    font-size: 100%;
    /* color de fuente */
    color: var(--font);
    /* color */
    background-color: var(--border);
}


/* ----------------------------------------------------------- Inicio Main ---------------------------------------------------- */

.Main-container {
    position: relative;
    display: flex;
    background-color: #f9dbbd;
    width: 100%;
    height: 1000px;
}

.layout {
    position: absolute;
    background-color: pink;
    border: 2px solid black;
    margin: 30px;
    width: 96.6%;
    height: 400px;
}

.prod-populares {
    background-color: pink;
    border: 2px solid black;
    margin: 30px;
    margin-left: 30px;
    margin-top: 468px;
    width: 50%;
    height: 300px;
}

.sobre-mi {}