@import url(stylehead.css);
.main_container{
    display: grid;
    position: relative;
    grid-template-columns: 50% 50%;
    margin: 0 8%;
}
.main_container div{
    background-color: var(--background-top);
}