@font-face {
    src: url("NexaRustSans-Black.otf");
    font-family: cuerpo;
}

:root{
    --border: #450a20;
    --background-container: #ffa5ac;
    --background-button: #a53861;
    --background: #f9dbbd;
}
*{
    margin: 0;
    padding: 0;
}
a{
    display: grid;
    position: relative;
    color: black;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.headd_.logo img{
    width: 207.6px;
    height: 84px;
}
.headd_.wheel img{
    width: 36px;
    height: 30.2px;
    filter: invert(28%) sepia(56%) saturate(1350%) hue-rotate(299deg) brightness(0%) contrast(87%);
}
.head_container{
    display: grid;
    background-color: var(--background-container);
    grid-template-rows: 100px;
    grid-template-columns: 20% auto 10%;
    padding-right: 1%;
}
.headd_{
    display: grid;
    place-content: center;
    place-items: center;
    transition: .7s ease all;
}
.headd_.wheel{
    display: grid;
    place-content: center;
    place-items: center;
    transition: .7s ease all;
}
.head_button{
    display: grid;
    grid-template-columns: repeat(5, 20%);
    margin-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: var(--background-button);
    border-top: 2px solid var(--border);
    border-bottom: 2px solid var(--border);
}
.head_button button{
    display: grid;
    position: relative;
    border: none;
    background-color: var(--background-button);
}