.Productos {
    display: grid;
    height: 600px;
    grid-template-columns: 25% 50% 25%;
}


/* Productos */

.producto {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px 0;
}

.card {
    width: 33%;
}


/* Estilos Tarjetas */

.estilo-c {
    font-family: 'Poppins', sans-serif;
    width: 30%;
}