@import url(stylehead.css);
.main_container{
    display: grid;
    position: relative;
    grid-template-columns: 50% 50%;
    margin: 0 6%;
    padding: 4% 10% 0;
}
.contact{
    background-color: var(--background-top);
    margin: 0 3%;
    border-radius: 25px;
}
.contact.wpp img{
    height: 100%;
    width: calc(100% - 75%);
}
